<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<style>
	form { 
		margin:20px;
		padding:10px;
		border: 1px solid #1C6EA4;
	    background-color: #EEEEEE;
	  	width: 60%;
	  	text-align: left;
	  	border-collapse: collapse;
	}
	
	.boton 
	{
        padding:10px 20px, 10px 20px; 
        background: #1C6EA4;
        color:white;
        font:bold 10px/10px verdana;
        width:100px;
        height: 30px;
        cursor:pointer;
        cursor:hand;
        text-align:center;
    }
    
</style>


</head>

	<h2 align="center">BIBLIOTECA MINI</h2>
	<p align="center">Modificar Autor</p>

					
<body>
	<form th:action="@{/GestionAutores/updateAutor}" 
			th:object="${autorParaModifcar}">	  
		
		<label >Identificador</label>	
		<input readonly name= "idAutor"
				type="number"
				th:field="*{idAutor}"
				th:value="*{idAutor}" />
	
		<label for="txt_nombre">Nombre:</label>			
		<input id="txt_nombre" 
			   name=nombre
			   type="text" 			    
			   class="form-control"
			   th:field="*{nombre}" 
			   th:value="*{nombre}"  
			   />
			
		
		<label for="txt_ape1">Primer Apellido:</label>
		<input id="txt_ape1"
				name="apellido1" 
				type="text" 
				class="form-control"  
				th:field="*{apellido1}"
				th:value="*{apellido1}" 	/>
	
<!--  		<div>
			<label>Autor</label>
			<select id="selectAutor"
					name="autorId"				
					class="form-control">								
				<option value="" >Selecciona autor</option>							
				<option th:each="autorFor : ${listaAutores}" 
						th:value="${autorFor.idAutor}"
						th:selected="(${autorFor.idAutor} == *{autor.IdAutor})"
						th:text="${autorFor.idAutor}+' : '+${autorFor.nombre}+' : '+${autorFor.apellido1}"
						>
				</option>
			</select>	
		</div>  -->
			
		<button type="submit" name= "btn_modificar" >Modificar Autor</button>
	</form>
	
	<!--  
	<form>	
			<a th:href="@{/GestionLibros/updateLibro(libro=${libroModify})}"
					class="btn btn-danger btn-sm">MODIFICAR LIBRO</a>
	</form>
	-->
			
	<form>
			<input class="boton" type="button" value="Web inicio" onclick="window.location.href='/biblioteca'" />
	</form>
		
	
</body>
</html>
