<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/inicio/layout}">

<style>

.content 
{
  	max-width: 500px;
  	margin-top: 70px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
  	text-align: center;
  	border-width: 20px;
}
</style>

<head>	
	 <title>Biblioteca Mini</title>
</head>

<body>

	<div layout:fragment="content">
	   
		<div class="container">
	        <div class="row">
	               
	                <div class="w3-container w3-display-topmiddle w3-padding-64">
	                    <h1>Acceder Biblioteca Mini</h1>
	                    <h4>A leer ...</h4>
	                </div>	                
	                
	                <div class="w3-container w3-display-middle">
	                     <img th:src="@{/img/libro1.jpg}" alt="lib" >	                
	                
	                </div> 
	    	</div>
	    </div>
	   
	</div>

</body>


</html>
