<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<style>
	form { 
		margin:20px;
		padding:10px;
		border: 1px solid #1C6EA4;
	    background-color: #EEEEEE;
	  	width: 60%;
	  	text-align: left;
	  	border-collapse: collapse;
	}
	
	.boton 
	{
        padding:10px 20px, 10px 20px; 
        background: #1C6EA4;
        color:white;
        font:bold 10px/10px verdana;
        width:100px;
        height: 30px;
        cursor:pointer;
        cursor:hand;
        text-align:center;
    }
    
</style>


</head>

	<h2 align="center">BIBLIOTECA MINI</h2>
	<p align="center">Alta nuevo Libro</p>
			
<body>
	<form action="modificaLibro" th:object="${libroModify}">
			<div class="form-group">
				<label for="txttitle">Titulo:</label>			
				<input type="text" name=title class="form-control" id="txttitle"
					th:field="*{title}" />
			</div>
			<div class="form-group">
				<label for="txtISBN">ISBN:</label>
				<input type="text" name="ISBN" class="form-control" id="txtISBN" 
					th:field="*{isbn}" />
			</div>
			
			<div class="form-group">
				<label for="txtpages">Paginas:</label>
				<input type="text" name="pages" class="form-control" id="txtpages" 
					th:field="*{pages}" />
			</div>

			<div class="form-group">
				<label for="txtyear">Any:</label>
				<input type="text" name="year" class="form-control" id="txtyear" 
					th:field="*{year}" />
			</div>

			<div class="form-group">
				<label for="txtstats">Estado:</label>
				<input type="text" name="estado" class="form-control" id="txtstatus" 
					th:field="*{estado}" />
			</div>
			
			<div th:object="${autor}">
				<label>Seleccionar autor</label>
				<select id="seleccionAutor" name="libroId">
					<option th:value="0">No customer</option>
					<option th:each="autor : ${comboAutores}" 
					        th:value="${autor.idAutor}"
					  		th:text="${autor.idAutor}+' : '+${autor.nombre}+' : '+${autor.apellido1}">
					</option>
				</select>	
			</div>
			
			<div>
				<input id="btnMoficarLibro" class=boton type="submit" value="MODIFICAR LIBRO"/>
			</div>
			
			
			<form>
				<input class="boton" type="button" value="Web inicio" onclick="window.location.href='/biblioteca'" />
			</form>
		
	</form>
</body>
</html>
